@{
    ViewData["Title"] = "cruises_charter";
}
<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<link rel="stylesheet" type="text/css" href="~/css/styleAndando.css" />
<link rel="stylesheet" type="text/css" href="~/css/styleAndando03.css" />
<link rel="stylesheet" type="text/css" href="~/css/app.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/magnific-popup.min.css" integrity="sha256-PZLhE6wwMbg4AB3d35ZdBF9HD/dI/y4RazA3iRDurss=" crossorigin="anonymous" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.min.js"></script>
<div class="container--full-width" style="overflow:hidden; width:100%">
    <div id="myCarousel" class="carousel slide active" aria-hidden="true" data-ride="carousel">
        <div class="carousel-inner" role="listbox">
            <div class="item active" style="height:75vh;">
                <img src="~/images/About/plan-your-galapagos-cruise.jpg" alt="sailing Galapagos" class="img-fluid img-responsive" style="height:100%;  width:100%" />
                <div class="carousel-caption" style="padding-bottom:50px;" role="option">
                    <h1 id="text_galapagos_cruises" class="font-x2 font-brush font-carousel centered">
                        <b>Galapagos Cruises</b>
                    </h1>
                    <p style="margin-top:-30px">
                        <strong class="font-x2 " style="font-size:18px; font-family:'BentonSans',sans-serif">
                            Galapagos cruises for discerning travelers who want to travel like the pioneers
                        </strong>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <!--================================SUB MENU=========================-->
    <nav class="navbar  page-nav page-nav-home" data-toggle="sticky-onscroll" id="navpagina" style="border: 1px solid rgba(0,0,0,.1);">
        <div class="limit">
            <nav class="page-nav-anchors" style="text-transform:none; " id="sub-menu-cruises">
                <ul>
                    <li>
                        <a class="nav-item nav-link " href="#"><span>Sailing Cruises</span> </a>
                    </li>
                    <li>
                        <a class="nav-item nav-link  " href="#"><span>Availability</span></a>
                    </li>
                    <li>
                        <a class="nav-item nav-link  " style="width: 300px" href="#"><span>How to choose your sailing cruise</span></a>
                    </li>
                </ul>
            </nav>
        </div>
    </nav>
    <nav class="page-nav page-nav-home" data-toggle="sticky-onscroll" id="navmovil">
        <div class="limit" style="width:100%">
            <nav class="page-nav-anchors">
                <ul style="width:100%">
                    <li class="activities">
                        <a class="" href="#">  <span>Activities</span></a>
                    </li>
                    <li class="prepare" style="margin-left: 20px;">
                        <a href="#"><span>What to prepare</span></a>
                    </li>
                    <li class="itineraries" style="margin-left: 10px;">
                        <a href="#"> <span>Sample Itineraries</span></a>
                    </li>
                </ul>
            </nav>
        </div>
    </nav>
    <div class="container">
        <div class="row f-15 text-justify textoinfo parrafo" style="font-family:Arial;padding: .5em 1em; color: #656b6f !important; line-height:2; background:white;">
            <p style="text-align:justify;"> <h4 style="color:black" id="cruisesFiltersDesktop"> <b>Traveling Solo to Ecuador</b></h4></p>
            <p>
                *Somos dueños y operadores de barcos, habiendo tenido 12 barcos en las islas, además de tener acuerdos inigualables con
                otros operadores. Contacta con nosotros y tendrás un contacto directo en Ecuador y en Galápagos para tu viaje.
            </p>
            <p>
                *Iniciamos la industria de cruceros en Galápagos. Conocemos y hemos trabajado con cada nuevo barco que ha llegado a las Islas.
                Te organizaremos un viaje con los cruceros de mayor confianza y con mejor operación en las islas. ¡No arriesgues tu dinero!
            </p>
            <p>
                *Las Galápagos deben de ser descubiertas de la manera que generemos un impacto positivo, por eso trabajamos con barcos de
                hasta 16 pasajeros.
            </p>
            <p>
                <center><a class="btn h5button" style="margin-left:10px;" href="../form_taylorMade/form_taylorMade#popup1" data-target="#popup1" id="help_me_plan">Hepl me plan</a></center>
            </p>
        </div>
    </div>
    <br /><br />
          <div class="row f-15 text-justify" style="padding: .5em 1em; color: #656b6f !important; line-height:2; background:white; text-decoration:none" id="cardCruises">
              <div class="mainland-wrapper container-fluid">
                  <div class="mainland">
                      <div class="row">
                          <div class="col-lg-4 col-sm-12" style="padding-left:20px">
                              <!--ELEMENTO 1-->
                              <div class="contenido-app">
                                  <a href="../luxury-cruise/passion-yacht/" style="text-decoration:none" target="_blank" class="anc-card">
                                      <div class="mainland-item">
                                          <div class="mainland-image">
                                              <img src="~/images/About/Infinity exterior.jpg" class="img-portada" alt="">
                                              <div class="cruise-details">
                                                  <span>Category: Luxury</span>
                                              </div>
                                          </div>
                                          <div class="cruise-info">
                                              <h3 style="font-family:'Berlin Sans FB'">M/Y WildAid´s Passion</h3>
                                              <p style="text-align:justify; margin-left:-5px; font-family:Arial">
                                                  Ample spaces, sleek and modern decor, exceptional service, and a keen attention to detail.
                                              </p>
                                              <div class="rest-info">
                                                  <span class="price" style="margin-left:10px; font-family:Arial">Price from: $2,600 (4 Days).</span>
                                              </div>
                                          </div>
                                      </div>
                                  </a>
                              </div>
                              <div class="box boxAllCruises" id="cruisesFiltersDesktop">
                                  <h5>
                                      <a href="#" style="color: #398AC9;"> ALL OUR CRUISES >> </a>
                                  </h5>
                              </div>
                              <!--ELEMENTO 1-->
                          </div>
                          <div class="col-lg-4 col-sm-12" style="padding-left:20px">
                              <!--ELEMENTO 2-->
                              <a href="../sailing-cruises/mary-anne/" style="text-decoration:none" target="_blank" class="anc-card">
                                  <div class="mainland-item">
                                      <div class="mainland-image">
                                          <img src="~/images/About/Infinity exterior.jpg" class="img-portada" alt="Avenue of volcanoes">
                                          <div class="cruise-details">
                                              <span>Category: First-Class</span>
                                          </div>
                                      </div>
                                      <div class="cruise-info">
                                          <h3 style="font-family:'Berlin Sans FB'">S/S Mary Anne</h3>
                                          <p style="text-align:justify; margin-left:-5px; font-family:Arial">
                                              An impressive vessel with 1,000 m2 canvas sails that will sweep you majestically across the waves.
                                          </p>
                                          <div class="rest-info">
                                              <span class="price" style="margin-left:10px; font-family:Arial">Price from: $4,500 (8 Days).</span>
                                          </div>
                                      </div>
                                  </div>
                              </a>
                              <!--ELEMENTO 2-->
                          </div>
                          <div class="col-lg-4 col-sm-12" style="padding-left:20px">
                              <!--ELEMENTO 3-->
                              <a href="../first-class-cruises/tip-top-ii/" style="text-decoration:none" target="_blank" class="anc-card">
                                  <div class="mainland-item">
                                      <div class="mainland-image">
                                          <img src="~/images/About/Infinity exterior.jpg" class="img-portada" alt="North of Ecuador itineraries">
                                          <div class="cruise-details">
                                              <span>Category: First-Class</span>
                                          </div>
                                      </div>
                                      <div class="cruise-info">
                                          <h3 style="font-family:'Berlin Sans FB'">M/C Tip Top II</h3>
                                          <p style="text-align:justify; margin-left:-5px; font-family:Arial">
                                              First-class experience with high-end accommodations and services at very competitive rates
                                          </p>
                                          <div class="rest-info">
                                              <span class="price" style="margin-left:10px; font-family:Arial">Price from: $3,070 (4 Days).</span>
                                          </div>
                                      </div>
                                  </div>
                              </a>
                              <!--ELEMENTO 3-->
                              <div class="box boxAllCruises" id="cruisesFiltersMobile">
                                  <h5>
                                      <a href="#" style="color: #398AC9;"> View all our Fleet >> </a>
                                  </h5>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
    <!--================================FILTROS PRODUCTOS=========================-->
    <div class="row f-15 text-justify" style="padding: 4em 1em; color: #656b6f !important; line-height:2; background:white; text-decoration:none" id="cruisesFiltersDesktop">
        <div class="mainland-wrapper container-fluid">
            <div class="mainland">
                <div class="row" style="width: 1145px; margin-left: 4px;">
                    <div class="col-lg-12 col-sm-12" style="margin-bottom:15px;font-family: 'Arial';color:black">
                        <p><h4> <b>Cruise Categories</b> </h4> </p>
                    </div>
                    <div class="col-lg-3 col-sm-12" style="padding-left: 15px;padding-bottom:20px">
                        <div class="categories-item">
                            <a href="../luxury-cruise/" id="item_1">
                                <img src="~/images/product services.jpg" title="My Passion" alt="My Passion" style="">
                                <p style=" font-family: 'BentonSans-Regular';"><b>Luxury</b></p>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-12" style="padding-bottom:20px">
                        <div class="categories-item">
                            <a href="../sailing-cruises/" id="item_2">
                                <img src="~/images/products services.jpg" title="Ocean Spray" alt="Ocean Spray">
                                <p style=" font-family: 'BentonSans-Regular';"><b>Sailing </b></p>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-12" style="padding-bottom:20px">
                        <div class="categories-item">
                            <a href="../first-class-cruises/index.html" id="item_3">
                                <img src="~/images/product services.jpg" title="Theory" alt="Theory">
                                <p style=" font-family: 'BentonSans-Regular';"><b>First-Class</b></p>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-12" style="padding-bottom:20px">
                        <div class="categories-item">
                            <a href="../cruises/budget/" id="item_4">
                                <img src="~/images/products services.jpg" title="Theory" alt="Theory">
                                <p style=" font-family: 'BentonSans-Regular';"><b>Tourist-Class</b></p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Mobile-->
    <div class="container" style="height: 60px;padding-left: 0;" id="cruisesFiltersMobile">
        <div class="row f-15 text-justify textoinfo parrafo" style="font-family:Arial;padding: 0em 5%; color: #656b6f !important; line-height:2; background:white;">
            <p style="text-align:justify;font-family: 'BentonSans-Regular';"> <h4 style="color:black"> <b>Filters</b></h4></p>
        </div>
    </div>
    <div class="row f-15 text-justify" style="padding: 5em 1em; color:#656b6f !important; line-height:2; background:white; text-decoration:none" id="cruisesFiltersMobile">
        <div class="mainland-wrapper container-fluid" style="width: 100%;padding-right:0">
            <div class="mainland">
                <div class="row" style="height:auto">
                    <table style="border:none;font-family: 'BentonSans-Regular';">
                        <tr style="border:none;">
                            <td style="width:auto; border:none">
                                <a href="../luxury-cruise/" id="item_1">
                                    <img src="~/images/products services.jpg" title="My Passion" alt="My Passion" style="border-radius:10px; width:120px;height:90px ;margin-left:-8px;text-align:right">
                                    <p> <b>Luxury</b></></p>
                                </a>
                            </td>
                            <td style="width:auto;border:none">
                                <a href="../sailing-cruises/" id="item_2">
                                    <img src="~/images/products services.jpg" title="Ocean Spray" alt="Ocean Spray" style="border-radius:10px; width:120px;height:90px ;margin-left:-8px;text-align:right">
                                    <p> <b>Sailing</b></></p>
                                </a>
                            </td>
                            <td style="width:auto;border:none">
                                <a href="../first-class-cruises/index.html" id="item_3">
                                    <img src="~/images/products services.jpg" title="Theory" alt="Theory" style="border-radius:10px; width:120px;height:90px ;margin-left:-8px;text-align:right">
                                    <p><b>First-Class</b></></p>
                                </a>
                            </td>
                            <td style="width:auto;border:none">
                                <a href="../cruises/budget/" id="item_4">
                                    <img src="~/images/products services.jpg" title="Theory" alt="Theory" style="border-radius:10px; width:120px;height:90px ;margin-left:-8px;text-align:right">
                                    <p><b>Tourist-Class</b></></p>
                                </a>
                            </td>
                        </tr>
                    </table>
                    <a href="#" style="color: #398AC9;font-size:16px;text-decoration:none; padding-left: 20px; font-family: 'BentonSans-Regular'"> Difference between categories >> </a>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row f-15 text-justify textoinfo parrafo" style="font-family:Arial;padding: .5em 1em; margin-top:-35px;color: #656b6f !important; background:white;">
            <p style="text-align:justify;"> <h4 style="color:black" id="cruisesFiltersDesktop"> <b>Availability for charters</b></h4></p>
            <div class="container" style="margin-top:40px; height:590px;overflow-y:scroll">
                <table>
                    @foreach (var idBarco in Model) 
                     { 
                        <tr>
                        <td style="border-right:none; border-top:none; border-left:none; width:270px;  line-height:0.6;margin-bottom:-15px">
                            <p style="color:black;font-size:20px">@idBarco.salFechaSalida.ToString("dd - MMM - yyyy")<p>
                            <p style="font-size:13px">@idBarco.noches Night<p>
                        </td>
                        <td style="border-right:none; border-top:none; border-left:none; width:270px;  line-height:0.6;margin-bottom:-15px">
                            <p style="color:black;font-size:20px">@idBarco.barcoNombre<p>
                            <p style="font-size:13px; color:#398AC9">@idBarco.itinNombre<p>
                        </td>
                        <td style="border-right:none; border-top:none; border-left:none; width:270px;  line-height:0.6;margin-bottom:-15px">
                            <p style="color:black;font-size:20px">@idBarco.totalDisponibilidad<p>
                            <p style="font-size:13px">Spaces available<p>
                        </td>
                        <td style="border-right:none; border-top:none; border-left:none; width:270px; line-height:0.6;margin-bottom:-15px">
                            <p style="color:black;font-size:20px">$ @idBarco.cabinaPrecio1<p>
                            <p style="font-size:13px;">Price*<p>
                        </td>
                        <td style="border-right:none; margin-left:15px;border-top:none; border-left:none; width:200px; text-align:justify; line-height:0.2;margin-bottom:-15px">
                            <p style="margin-top:-8px"><a class="btn h5button" href="../form_taylorMade/availabilityModal" data-toggle="modal" data-target="#myModal" style="font-family:SegoeUI, Segoe UI" id="help_me_plan5"><b>Request Booking</b></a><p>
                            <p style="font-size:13px; color:#F29F67; margin-top:-6px">More Information<p>
                        </td>
                    </tr> 
                     }          
                </table>
            </div>
        </div>
        <div class="row f-15 text-justify textoinfo parrafo" style="font-family:Arial;padding: .5em 1em; margin-top:-35px;color: #656b6f !important; background:white;">
            <p style="text-align:justify;"> <h4 style="color:black" id="cruisesFiltersDesktop"> <b>Charter a Galapagos - guide & considerations</b></h4></p>
            <p>
                *Somos dueños y operadores de barcos, habiendo tenido 12 barcos en las islas, además de tener acuerdos inigualables con
                otros operadores. Contacta con nosotros y tendrás un contacto directo en Ecuador y en Galápagos para tu viaje.
            </p>
            <p>
                *Iniciamos la industria de cruceros en Galápagos. Conocemos y hemos trabajado con cada nuevo barco que ha llegado a las Islas.
                Te organizaremos un viaje con los cruceros de mayor confianza y con mejor operación en las islas. ¡No arriesgues tu dinero!
            </p>
            <p>
                *Las Galápagos deben de ser descubiertas de la manera que generemos un impacto positivo, por eso trabajamos con barcos de
                hasta 16 pasajeros. <a href="#" style="text-decoration:none">.-Cruising Guide </a>
            </p>
            <div class="col-md-5 col-xs-12 col-sm-12">
                <p style="text-align:justify;"> <h4 style="color:black" id="cruisesFiltersDesktop"> <b>Que incluye tu charter?</b></h4></p>
                <p>
                    *Somos dueños y operadores de barcos, habiendo tenido
                    12 barcos en las islas, además de tener acuerdos iniguala
                    bles con otros operadores. Contacta con nosotros y tendrá
                    s un contacto   directo en Ecuador y en Galápagos para tu
                    viaje
                </p>
                <p>
                    *Iniciamos la industria de cruceros en Galápagos. Conoce
                    mos y hemos trabajado con cada nuevo barco que ha lleg
                    ado a las Islas.  Te organizaremos un viaje con los crucero
                    s de mayor confianza y con mejor operación en las islas. ¡
                    No arriesgues tu dinero!
                </p>
                <p style="text-align:justify;"> <h4 style="color:black" id="cruisesFiltersDesktop"> <b>How to choose your Galapagos cruise?</b></h4></p>
                <p>
                    *Somos dueños y operadores de barcos, habiendo tenido
                    12 barcos en las islas, además de tener acuerdos iniguala
                    bles con otros operadores. Contacta con nosotros y tendrá
                    s un contacto   directo en Ecuador y en Galápagos para tu
                    viaje.
                </p>
            </div>
            <div class="col-md-2">
            </div>
            <div class="col-md-5 col-xs-12 col-sm-12">
                <p style="text-align:justify;"> <h4 style="color:black" id="cruisesFiltersDesktop"> <b>Charetrs son personalizables - que ofrecemos</b></h4></p>
                <p>
                    *Somos dueños y operadores de barcos, habiendo tenido
                    12 barcos en las islas, además de tener acuerdos iniguala
                    bles con otros operadores. Contacta con nosotros y tendrá
                    s un contacto   directo en Ecuador y en Galápagos para tu
                    viaje
                </p>
                <p>
                    *Iniciamos la industria de cruceros en Galápagos. Conoce
                    mos y hemos trabajado con cada nuevo barco que ha lleg
                    ado a las Islas.  Te organizaremos un viaje con los crucero
                    s de mayor confianza y con mejor operación en las islas. ¡
                    No arriesgues tu dinero!

                </p>
                <p style="text-align:justify;"> <h4 style="color:black" id="cruisesFiltersDesktop"> <b>How to choose your Galapagos cruise?</b></h4></p>
                <p>
                    *Somos dueños y operadores de barcos, habiendo tenido
                    12 barcos en las islas, además de tener acuerdos iniguala
                    bles con otros operadores. Contacta con nosotros y tendrá
                    s un contacto   directo en Ecuador y en Galápagos para tu
                    viaje.
                </p>
            </div>
            <p>
                <center><a class="btn h5button" style="margin-left:10px;" href="../form_taylorMade/form_taylorMade#popup1" data-target="#popup1" id="help_me_plan">Hepl me plan</a></center>
            </p>
            <!--REVIEW SECTION-->
            <section class="" style="width:100%; background:white">
                <div class="">
                    <div class="section-header dscroll dscroll-in">
                        <h2 class="section-header-title" style="font-family:Arial"><b>THE ULTIMATE GALAPAGOS CHARTER EXPERIENCE WITH ANDANDO TOURS</b></h2>
                        <p>Powered by <img style="max-width: 100px;" src="https://www.reviews.io/cw-assets/img/logo.svg" class="img-loaded"></p>
                    </div>
                    <center>
                        <div id="carousel-widget" class="container"><iframe name="carousel-widget_frame" id="carousel-widget_frame" frameborder="0" width="100%" scrolling="no" height="299" title="Reviews Widget" src="https://widget.reviews.io/rich-snippet-reviews-widgets/widget?version=13b&amp;store=visitgalapagos-travel&amp;primaryClr=%23f47e27&amp;neutralClr=%23cccccc&amp;reviewTextClr=%23333333&amp;widgetName=carousel&amp;layout=fullWidth&amp;numReviews=40&amp;contentMode=product&amp;sku=ma&amp;hideDates=false&amp;elementId=carousel-widget&amp;origin=https%3A%2F%2Fwww.visitgalapagos.travel%2Fsailing-cruises%2Fmary-anne%2F"></iframe></div>
                    </center>
                </div>
            </section>
            <!--FIN REVIEW SECTION-->
            <p style="text-align:justify;"> <h4 style="color:black" id="cruisesFiltersDesktop"> <b>Charter a Galapagos - guide & considerations</b></h4></p>
        </div>
        <div class="row f-15 text-justify textoinfo parrafo" style="font-family:Arial;padding: .5em 1em; margin-top:-35px;color: #656b6f !important; background:white;">
            <div class="col-md-6 col-sm-12 col-xs-12">
                <img src="~/images/About/plan-your-galapagos-cruise.jpg" style="width:102%"/>
            </div>
            <div class="col-md-6 col-sm-12 col-xs-12">
                <p><b>Family Experiences</b></p>
                <p>directo en Ecuador y en Galápagos para tu viaje</p>
                <p>
                    *Iniciamos la industria de cruceros en Galápagos. Conocemos
                    y hemos trabajado con cada nuevo barco que ha llegado a las
                    Islas.  Te organizaremos un viaje con los cruceros de mayor
                    confianza y con mejor operación en las islas. ¡No arriesgues tu
                    dinero!
                </p>
            </div>
        </div>
        <br />
        <br />
        <div class="row f-15 text-justify textoinfo parrafo" style="font-family:Arial;padding: .5em 1em; margin-top:-35px;color: #656b6f !important; background:white;">
            <div class="col-md-6 col-sm-12 col-xs-12">
                <p><b>Special Ocasions</b></p>
                <p>directo en Ecuador y en Galápagos para tu viaje</p>
                <p>
                    *Iniciamos la industria de cruceros en Galápagos. Conocemos
                    y hemos trabajado con cada nuevo barco que ha llegado a las
                    Islas.  Te organizaremos un viaje con los cruceros de mayor
                    confianza y con mejor operación en las islas. ¡No arriesgues tu
                    dinero!
                </p>
            </div>
            <div class="col-md-6 col-sm-12 col-xs-12">
                <img src="~/images/About/plan-your-galapagos-cruise.jpg" style="width:102%"/>
            </div>
        </div>
    </div>
</div>