@{
    ViewData["Title"] = "Our Team";
}
<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<link rel="stylesheet" type="text/css" href="~/css/styleAndando.css" />
<link rel="stylesheet" type="text/css" href="~/css/styleAndando03.css" />
<link rel="stylesheet" type="text/css" href="~/css/app.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/magnific-popup.min.css" integrity="sha256-PZLhE6wwMbg4AB3d35ZdBF9HD/dI/y4RazA3iRDurss=" crossorigin="anonymous" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.min.js"></script>
<div class="container--full-width" style="overflow:hidden; width:100%">
    <div id="myCarousel" class="carousel slide active" aria-hidden="true" data-ride="carousel">
        <div class="carousel-inner" role="listbox" style="background-color:#2c3040;">
            <div class="item active imgen-carousel">
                <div class="fondos-imagen" style="background-image:url(../images/About/plan-your-galapagos-cruise.jpg);">
                    <img src="" alt="sailing Galapagos" class="fondos-imagen" style="background-image:url(../images/About/plan-your-galapagos-cruise.jpg); position:center; height:100%; width:100%;" />
                </div>
                <div class="carousel-caption" style="padding-bottom:45px; top:25%" role="option">
                    <h1 class="font-x2 font-brush font-carousel">
                        <strong>Galapagos Cruises</strong>
                    </h1>
                    <p class="font-x2 " style="font-size:18px; font-family:'BentonSans',sans-serif">
                        Galapagos cruises for discerning travelers who want to travel like the pioneers
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row formato-parrafo text-justify textoinfo parrafo" style="padding: .5em 1em; color: black !important; background:white;">
            <p style="margin-top:20px">
                One of the most common questions we get is, <b>
                    ‘what is the best way to travel to the
                    Galapagos Islands?’
                </b> This is an individual question, but the answer always involves
                allowing you to have the most ‘once in a lifetime’ experiences while you explore this
                unbelievable archipelago. Many people go to Galapagos to swim with sea lions or penguins,
                or because they have seen its stunning beaches – but there is so much more to this landscape.
                We promise you - as incredible as you think the Galapagos are, your expectations will be
                exceeded once you arrive and live your dream.
            </p>
        </div>
    </div>
    <div class="container" style="margin-top:-20px">
        <div class="row formato-parrafo text-justify textoinfo parrafo" style="font-family:Arial;padding: .5em 1em; margin-top:0px;color: black !important; background:white;">
            <h4 style="color:black; ">
                <b>Our Team</b>
            </h4>
        </div>
        <div id="image_team" class="row formato-parrafo text-justify" style="margin-top:-25px;padding: .5em 1em; color: black !important; background:white;">
            @foreach (var idTeam in Model)
            {
                if (@idTeam.DepartamentoTeam == "Operaciones")
                {
                    <center>
                        <div class="col-md-3 col-sm-6 col-xs-6">
                            <center>
                                <img id="imagen_team" src="@idTeam" class="img-responsive" />
                            </center>
                            <center>
                                <div id="related_product_items" class="container textoinfo">
                                    <p class="formato-parrafo">
                                        <b>@idTeam.NombreTeam</b> <b>@idTeam.ApellidoTeam</b>
                                    </p>
                                    <p class="formato-parrafo">
                                        @idTeam.CargoTeam
                                    </p>
                                </div>
                            </center>
                        </div>
                    </center>
                }
            }
        </div>
    </div>
    <br />
    <div class="row" style="background: #eff0f3; margin-top:5px">
        <div class="col-md-6">
            <img id="image_experience_text" class="img-responsive" src="~/images/About/Infinity exterior.jpg" />
        </div>
        <div class="col-md-6">
            <div class="row formato-parrafo text-justify textoinfo" style="font-family:Arial;padding: 1.2em 1em; color: black !important;" id="experience_text">
                <p style="color:black; font-size:25px"><b>In the press.</b></p>
                <p style="font-size:17px">
                    Private charters allow us to offer services not included on a
                    normal cruise within the restrictions imposed by the national
                    park authorities: professional.
                </p>
                <br />
                <table style="margin-left:-13px">
                    <tr>
                        <td style="border:none">
                            <a class="btn h5button formato-parrafo" style="font-family:SegoeUI, Segoe UI" href="#" id="help_me_plan4">Press request</a>
                        </td>
                        <td style="border:none">
                            <a class="btn h5button formato-parrafo" style="font-family:SegoeUI, Segoe UI" href="#" id="help_me_plan2">Media we are in</a>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <br />
    <div class="row" style="margin-top:20px">
        <div class="container">
            <div id="image_team" class="row formato-parrafo text-justify" style="margin-top:-25px;padding: .5em 1em; color: black !important; background:white;">
                @foreach (var idTeam in Model)
                {
                    if (@idTeam.DepartamentoTeam == "Ventas")
                    {
                        <center>
                            <div class="col-md-3 col-sm-6 col-xs-6">
                                <center>
                                    <img id="imagen_team" src="@idTeam" class="img-responsive" />
                                </center>
                                <center>
                                    <div id="related_product_items" class="container textoinfo" >
                                        <p class="formato-parrafo">
                                            <b>@idTeam.NombreTeam</b> <b>@idTeam.ApellidoTeam</b>
                                        </p>
                                        <p class="formato-parrafo">
                                            @idTeam.CargoTeam
                                        </p>
                                    </div>
                                </center>
                            </div>
                        </center>
                    }
                }
            </div>
        </div>
    </div>
</div>