@{

    var contenido = ViewBag.GetContenidoVista;
    var imagenItem = ViewBag.GetContenidoMult;
    var titulo = new List<string>();
    Dictionary<string, int> uniqueStore = new Dictionary<string, int>();

    foreach (var item in ViewBag.GetContenidoVista)
    {

        if (!uniqueStore.ContainsKey(item.Titulo))
        {
            uniqueStore.Add(item.Titulo, 0);
            titulo.Add(item.Titulo);
        }
    }

}
<div class="modal fade" id="gale-cabins-tip" style="overflow:hidden;padding-right:0" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
    <div class="modal-dialog modal-full" style="width:100%;height:100%; margin:0" role="document">
        <div class="modal-content" style="width:100%; height:100%">
            <div class="modal-header" style="overflow-y:hidden;height:60px">
                <img src="~/images/logos/andando-tours-png-azul-horizontal.png" style="width:100px; height:50px; margin-top:-10px; margin-left:0px" />
                <button type="button" class="close-form pull-right" onclick="limp();" data-dismiss="modal" style="margin-top:-40px">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body tamModal style-scroll" style="overflow-x:hidden; overflow-y:scroll;font-family:Arial;text-align:left">
                <div class="container">
                    <h3 style="color:#5299D0; text-align:center">
                        @titulo[8]
                    </h3>
                    <div>
                        <section style="background-color:white">
                            @{var cont = 0;
                                foreach (var item in ViewBag.GetContenidoVista)
                                {
                                    if (item.Titulo == titulo[8])
                                    {
                                        <span class="textoinfo parrafo formato-parrafo">@Html.Raw(item.Parrafo)</span>

                                        cont++;
                                        if (cont == 1)
                                        { break; }
                                    }
                                }
                            }
                        </section>
                        <table id="grid-gale-social" style="margin-left:-14px;margin-top:20px;margin-bottom:20px">
                            <tr>
                                <td style="border:none;padding-right:0">
                                    <img class="lazyload" src="@imagenItem[5].UrlImagen" alt="@imagenItem[5].NombreImagen" style=" height:380px; margin-left:2px" />
                                </td>
                                <td style="border:none;padding-right:0">
                                    <img class="lazyload" src="@imagenItem[6].UrlImagen" alt="@imagenItem[6].NombreImagen" style="width:628px; height:380px;" />
                                </td>
                            </tr>
                        </table>
                        @* ===============MOBILE=============== *@
                        <div id="grid-gale-social-mob">
                            <div class="container" style="width:auto; padding:0;margin-top:10px">
                                <div class="col-md-12" style="padding:0; margin-top: 10px;">
                                    <img src="@imagenItem[5].UrlImagen" alt="@imagenItem[5].NombreImagen" class="img-responsive lazyload" />
                                </div>
                                <div class="col-md-12" style="padding:0;margin-top: 10px;">
                                    <img src="@imagenItem[6].UrlImagen" alt="@imagenItem[6].NombreImagen" class="img-responsive lazyload" />
                                </div>
                            </div>
                        </div>
                        <section style="background-color:white">
                            @{int contparrafo = 0;
                                foreach (var item in ViewBag.GetContenidoVista)
                                {
                                    if (item.Titulo == titulo[8])
                                    {

                                        contparrafo++;
                                        if (contparrafo == 2)
                                        {
                                            <span class="textoinfo parrafo formato-parrafo">@Html.Raw(item.Parrafo)</span>
                                        }
                                    }
                                }
                            }
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>