@{

    var contenido = ViewBag.GetContenidoVista;
    var imagenItem = ViewBag.GetContenidoMult;
}
<div class="modal fade" id="gale-exterior" style="overflow:hidden;padding-right:0" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
    <div class="modal-dialog modal-full" style="width:100%;height:100%; margin:0" role="document">
        <div class="modal-content" style="width:100%; height:100%">
            <div class="modal-header" style="overflow-y:hidden;height:60px">
                <img src="~/images/logos/andando-tours-png-azul-horizontal.png" style="width:100px; height:50px; margin-top:-10px; margin-left:0px" />
                <button type="button" class="close-form pull-right" onclick="limp();" data-dismiss="modal" style="margin-top:-40px">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body tamModal style-scroll" style="overflow-x:hidden; overflow-y:scroll;font-family:Arial;text-align:left">
                <div class="container">
                    <h3 style="color:#5299D0; text-align:center">
                        @contenido[22].Titulo
                    </h3>
                    <div>
                        @*<h3 class="formato-titulo" style="text-align:left"><b>@titulo[9]</b></h3>*@
                        @{
                            foreach (var item in ViewBag.GetContenidoVista)
                            {
                                if (item.Titulo == @contenido[22].Titulo)
                                {
                                    <p class="textoinfo parrafo formato-parrafo">
                                        <span>@Html.Raw(item.Parrafo)</span>
                                    </p>
                                }
                            }
                        }
                        <div class="row">
                            <div class="col-xs-6">
                                <img class="img-responsive" src="@imagenItem[21].UrlImagen" alt="@imagenItem[21].NombreImagen" />
                            </div>
                            <div class="col-xs-6">
                                <img class="img-responsive" src="@imagenItem[22].UrlImagen" alt="@imagenItem[22].NombreImagen" />
                            </div>
                        </div>
                        <div class="row" style="margin-top:17px">
                            <div class="col-xs-6">
                                <img class="img-responsive" src="@imagenItem[23].UrlImagen" alt="@imagenItem[23].NombreImagen" />
                            </div>
                            <div class="col-xs-6">
                                <img class="img-responsive" src="@imagenItem[24].UrlImagen" alt="@imagenItem[24].NombreImagen" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>